#about-body {
    /* height: 100vh; */
    min-height: 700px;
    margin-left: 16%;
    margin-right: 16%;
    margin-bottom: 5%;
}

.about-grid-container{
    display: grid;
    gap: 2%;
}

h3 {
    color: white;
    font-size: 40pt !important;
}

#about-h3 {
    margin-bottom: 1%;
}

.about-me-paragraph {
    color: darkgrey;
    font-size: 12.5pt;
}

#about-image {
    border: 1px solid darkgrey;;
    border-radius: 5%;
    box-shadow: 10px 5px 5px black;
    height: 12rem;
    width: 85%;
}

.about-skills-section {
    font-size: 20pt !important;
    margin-top: 5%;
}

.skills-bullets {
    font-size: 14pt;
    color: aquamarine;
}


#about-card1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#about-card2 {
    grid-column-start: 2;
    grid-column-end: 2;
}

#about-card3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.card {
    background-color: #05386B !important;
    border: none !important;
 }

/* td {
    padding-right: 5px;
} */

@media screen and (max-width: 1000px){

    #about-body {
        margin-bottom: 15%;
    }

    #about-h3 {
        margin-bottom: 4%;
    }

    #about-image {
        height: 60%;
        width: 70%;
        align-self: center;
    }
    #about-card2 {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-bottom: 3%;
    }
     
    #about-card3 {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 60%;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (max-width: 400px){
    #about-body {
        width: 100%;
        margin: 0%;
    }

    #about-h3 {
        margin-left: 4%;
        margin-right: 4%;
        /* border-bottom: 1px solid white; */
        text-align: center;
    }

    .about-me-paragraph {
        margin-left: 4%;
        margin-right: 4%;
        font-size: small;
    }

    #about-card1 {
        margin-left: 4%;
        margin-right: 4%;
    }

    #about-card2 {
        margin-left: 4%;
        margin-right: 4%;
    }
     
    #about-card3 {
        width: 70%;
        height: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #about-image {
        height: 50%; 
        margin-bottom: 5%;   
    }
} 