#contact-body {
    background-color: #05386B;
    height: 90vh;
    min-height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#contact-h4 {
    display: flex;
    justify-self: center;
    align-self: center;
    font-size: 40pt !important;
    white-space: nowrap;
}

#contact-p {
    color: darkgray;
    display: flex;
    justify-self: center;
    align-self: center;
    width: 40%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 2%;
}

#contact-button {
    display: flex;
    -webkit-appearance: none;
    justify-self: center;
    align-self: center;
    border-color: aquamarine;
    color: aquamarine;
    margin-bottom: 15%; 
    width: 8.6rem;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-top: 3%;
}

#footer-note {
    color: aquamarine;
    display: flex;
    justify-self: center;
    align-self: center;
    padding-top: 14rem;
    padding-bottom: 1rem;
}

@media screen and (max-width: 745px){
    #contact-p {
        width: 70%;
    }   
}

@media screen and (max-width: 400px){
    #contact-body {
        margin: 0%;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #contact-h4 {
        margin: 0%;
        width: 90%;
        border-bottom: 1px solid white;
        margin-left: 4%;
        margin-right: 4%;
        align-self: flex-start;
    }

    #h3-container {
        margin: 0%;
        margin-left: 4%;
        margin-right: 4%;
    }
    #contact-p {
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 4%;
        margin-right: 4%;
        align-self: flex-start;
        width: 93%;
    }

    #footer-note {
        display: none;
    }
}