#contact-body {
    background-color: #05386B;
    /* height: 100vh; */
    min-height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 5%;
}

#contact-h4 {
    display: flex;
    justify-self: center;
    align-self: center;
    font-size: 40pt;
    white-space: nowrap;
    color: white;
}

#contact-p {
    color: darkgray;
    display: flex;
    justify-self: center;
    align-self: center;
    width: 60%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 2%;
}

#contact-button {
    display: flex;
    -webkit-appearance: none;
    justify-self: center;
    align-self: center;
    border-color: aquamarine;
    color: aquamarine;
    margin-bottom: 15%; 
    width: 8.6rem;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-top: 3%;
}

#footer-note {
    color: aquamarine;
    display: flex;
    justify-self: center;
    align-self: center;
    padding-top: 14rem;
    padding-bottom: 1rem;
}

@media screen and (max-width: 745px){
    #contact-p {
        width: 70%;
    }   
}

@media screen and (max-width: 400px){

    #contact-h4 {
        /* width: 120%; */
        /* border-bottom: 1px solid white; */
    }

    #contact-body {
        margin: 0%;
        margin-top: 30%;
        min-height: 400px;
        width: 100%;
        /* margin-left: 4%;
        margin-right: 4%; */
    }   
    
    /* #contact-h4 {
        margin: 0%;
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
        border-bottom: 1px solid white;
    }

    #contact-p {
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 4%;
        margin-right: 4%;
        width: 92%;
    }

    #footer-note {
        display: none;
    } */ 
} 