html, body {
    width: 100%;
    height: 100%;
    background-color: #05386B;
}

#home-body {
    background-color: #05386B;
    height: 100vh;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    margin-left: 16%;
    margin-right: 16%;
}

.home-p {
    color: aquamarine;
    margin-top: 5%;
    font-size: 12.5pt;
}

.home-h1 {
    color: white;
    font-size: 55pt !important;
}

h2 {
    color: lightgray;
    font-size: 55pt !important;
}

.home-paragraph {
    color: darkgrey;
    margin-top: 1%;
    max-width: 400px;
    max-height: 1px;
}

#home-intro {
    animation: intro-p 1000ms ease-out;
}

#home-h1 {
    animation: home-h2 2000ms ease-out;
}

#home-h2 {
    animation: home-h2 1750ms ease-out;
}

@media screen and (max-width: 500px){
    .home-h1 {
        font-size: 38pt !important;
    }

    .home-p {
        font-size: 12pt;
    }

    h2 {
        font-size: 38pt !important;
    }
    
    .home-paragraph {
        margin-top: 5%;
        font-size: 12pt;
    }
}
