.mobile-footer {
    margin-right: 10%;
}

.mobile-footer-li {
    display: inline !important;
    color: aquamarine;
}

.mobile-footer-ul {
    text-align: center;
}

#mobile-footer-note{
    color: aquamarine;
    font-size: 10pt;
}

@media screen and (min-width: 400px) {
    .mobile-footer {
        display: none;
    }
}