#projects-body {
    /* height: 120vh; */
    display: flex;
    min-height: 700px;
}

#projects-h3 {
    margin-left: 16%;
    margin-right: 16%;
    margin-bottom: 1%;
}

#project-card {
    background-color: #05386B!important;
    border: 1pt solid aquamarine !important;
    color: darkgray;
    box-shadow: 10px 5px 5px black;
    width: 20rem;
    height: 27rem;
    margin: 1%;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}


.project-button {
    background-color: aquamarine !important; 
    color: #05386B !important;
    border: none !important;
}

#visit-site-button {
    margin-right: 4%;
}


.card-title{
   color: aquamarine;
}

#project-bold-text {
    font-weight: bold;
    font-style: italic;
}

.project-button:hover {
    background-color: lightgray !important;
}

#project-card:hover {
    animation: pulse;
    animation-duration: 1s;
}

#under-construction-card-p{
    margin-bottom: 4%;
}

.swal-button {
    background-color: #05386B;
}

.swal-button:hover {
    background-color: aquamarine !important;
}

@media screen and (max-width: 835px){
    #projects-h3 {
       margin-bottom: 5%;
    }
}

@media screen and (max-width: 400px){

    #projects-h3 {
        text-align: center;
        margin: 0%;
        margin-left: 4%;
        margin-right: 4%;
        margin-bottom: 5%;
        /* border-bottom: 1px solid white; */
     }

    #project-card {
        width: 100%;
        height: 100%;
        margin-bottom: 5%;
    }
    #projects-body {
        margin-top: 10%;
    }
}
