#project3-body {
    position: absolute;
    top: 232%;
    right: 38.7%;
    display: flex;
    justify-content: center;
    display: none;
}

h4 {
    color: white;
}

#project3-description {
    position: absolute;
    color: darkgray;
    top: 125%;
    left: -50%;
    width: 350%;
    right: 10%;
}

#project3-links-ul {
    display: flex;
    position: absolute;
    top: 420%;
    left: -60%;
    list-style: none;
}

#project3-link1 {
    white-space: nowrap;
    color: aquamarine;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding-right: 15%;
}

#project3-link2 {
    white-space: nowrap;
    color: aquamarine;
    text-decoration: underline;
    text-underline-offset: 5px;
}

#project3-link1:hover, #project3-link2:hover {
    color: darkgrey;
    cursor: pointer;
}

.swal-button {
    background-color: #05386B;
}

.swal-button:hover {
    background-color: aquamarine !important;
}

@media screen and (max-width: 1200px){
    #project3-body {
        right: 27.9%;
    }  
}

@media screen and (max-width: 900px){
    #project3-description {
        font-size: 10pt;
        width: 220%;
        left: -38%;
    }  
    #project3-links-ul {
        left: -32%;
    }
}

@media screen and (max-width: 790px){
    #project3-body {
        display: flex;
        top: 275%;
        margin-left: 10%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 414px){
    #project3-h4 {
        font-size: 14pt !important;
    }

    #project3-description {
        font-size: 8pt;
    }

    #project3-link1 {
        font-size: 8pt;
    }

    #project3-link2 {
        font-size: 8pt;
    }
}