#project4-body {
    position: absolute;
    top: 232%;
    right: 32.31%;
    display: flex;
    justify-content: center;
    display: none;
}

h4 {
    color: white;
}

#project4-description {
    position: absolute;
    color: darkgray;
    top: 100%;
    left: -50%;
    width: 290%;
    right: 10%;
}

#project4-links-ul {
    display: flex;
    position: absolute;
    top: 420%;
    left: -58%;
    list-style: none;
}

#project4-link1 {
    white-space: nowrap;
    color: aquamarine;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding-right: 15%;
}

#project4-link2 {
    white-space: nowrap;
    color: aquamarine;
    text-decoration: underline;
    text-underline-offset: 5px;
}

#project4-link1:hover, #project3-link2:hover {
    color: darkgrey;
}

@media screen and (max-width: 1200px){
    #project4-body {
        right: 19.8%;
    }  
}

@media screen and (max-width: 900px){
    #project4-description {
        font-size: 11pt;
        width: 110%;
        left: 2%;
    }  
    #project4-links-ul {
        left: -14%;
    }
}