#project5-body {
    position: absolute;
    top: 245%;
    right: 21.53%;
    display: flex;
    justify-content: center;
    display: none;
}

h4 {
    color: white;
}

#project5-h4 {
    margin-left: -20%;
}

#project5-description {
    position: absolute;
    color: darkgray;
    top: 125%;
    left: -70%;
    width: 160%;
    margin-left: 20%;
    right: 10%;
}

#project5-links-ul {
    display: flex;
    position: absolute;
    top: 420%;
    left: -64%;
    margin-left: 8%;
    list-style: none;
}

#project5-link1 {
    white-space: nowrap;
    color: aquamarine;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding-right: 15%;
}

#project5-link2 {
    white-space: nowrap;
    color: aquamarine;
    text-decoration: underline;
    text-underline-offset: 5px;
}

#project5-link1:hover, #project5-link2:hover {
    color: darkgrey;
    cursor: pointer;
}

.swal-button {
    background-color: #05386B;
}

.swal-button:hover {
    background-color: aquamarine !important;
}

@media screen and (max-width: 1200px){
    #project5-body {
        right: 6.2%;
    }  
}

@media screen and (max-width: 900px){
    #project5-description {
        font-size: 11pt;
        width: 100%;
        left: -38%;
    }  
    #project5-links-ul {
        left: -37%;
    }
}


@media screen and (max-width: 790px){
    #project5-body {
        display: flex;
        top: 275%;
        margin-left: 25%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 414px){
    #project5-h4 {
        font-size: 14pt !important;
    }

    #project5-description {
        font-size: 8pt;
    }

    #project5-link1 {
        font-size: 8pt;
    }

    #project5-link2 {
        font-size: 8pt;
    }
}