#project1-body {
    position: absolute;
    top: 232%;
    right: 30%;
    display: flex;
    justify-content: center;
    display: none;
}

h4 {
    font-size: 20pt !important;
    color: white;
}

#project1-description {
    position: absolute;
    color: darkgray;
    width: 110%;
    left: -50%;
    margin-top: 1%;
    width: 220%;
    right: 10%;
}

#project1-links-ul {
    display: flex;
    position: absolute;
    top: 420%;
    left: -57%;
    list-style: none;
}

#project1-link1 {
    white-space: nowrap;
    color: aquamarine;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding-right: 15%;
}

#project1-link2 {
    white-space: nowrap;
    color: aquamarine;
    text-decoration: underline;
    text-underline-offset: 5px;
}

#project1-link1:hover, #project1-link2:hover {
    color: darkgrey;
}

@media screen and (max-width: 1200px){
    #project1-body {
        right: 17%;
    }  
}

@media screen and (max-width: 900px){
    #project1-description {
        font-size: 10pt;
        width: 120%;
        left: -7%;
    }  
    #project1-links-ul {
        left: -15%;
    }
}

@media screen and (max-width: 790px){
    #project1-body {
        display: flex;
        top: 275%;
        margin-left: 10%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 414px){
    #project1-h4 {
        font-size: 14pt !important;
    }

    #project1-description {
        font-size: 8pt;
        margin-top: 2%;
    }

    #project1-link1 {
        font-size: 8pt;
    }

    #project1-link2 {
        font-size: 8pt;
    }

    #project1-links-ul {
        top: 350%;
    }
}