#projects-body {
    height: 100vh;
    min-height: 700px;
    display: flex;
    margin-left: 16%;
}

#projects-h3 {
    font-size: 40pt !important;
}

.projects-list {
    margin-top: 10%;
    margin-left: -10%;
}

#project1 {
    font-size: 16pt;
    list-style: none;
    color: aquamarine;
    border-bottom: 1pt solid aquamarine;
}

#project2 {
    font-size: 16pt;
    list-style: none;
    color: aquamarine;
    border-bottom: 1pt solid aquamarine;
    margin-top: 10%;
}

#project3 {
    font-size: 16pt;
    list-style: none;
    color: aquamarine;
    border-bottom: 1pt solid aquamarine;
    margin-top: 10%;
}

#project4 {
    font-size: 16pt;
    list-style: none;
    color: aquamarine;
    border-bottom: 1pt solid aquamarine;
    margin-top: 10%;
}

#project5 {
    font-size: 16pt;
    list-style: none;
    color: aquamarine;
    border-bottom: 1pt solid aquamarine;
    margin-top: 10%;
}

@media screen and (min-width: 400px){ 
    #project1:hover, #project2:hover, #project3:hover, #project4:hover, #project5:hover{
        padding: 2px;
        animation: project-list 900ms ease-out;
        -webkit-animation-fill-mode: forwards;
        cursor: pointer;
    }
    
    @keyframes project-list {
        0% {
            font-size: 16pt;
        }
    
        100% {
            font-size: 17pt;
        }
    }
}


@media screen and (max-width: 400px){
    #projects-h3 {
        margin: 0%;
        border-bottom: 1px solid white;
        width: 100%;
    }

    #h3-container {
        width: 100%;
        margin: 0%;
        margin-left: 4%;
        margin-right: 4%;
    }

    #projects-body {
        margin: 0%;
    }

    /* #project1 {
        margin-left: 4%;
    }
    #project2 {
        margin-left: 4%;
    }
    #project3 {
        margin-left: 4%;
        margin-top: 12rem;
    }
    #project4 {
        margin-left: 4%;
        margin-top: 12rem;
    }
    #project5 {
        margin-left: 4%;
        margin-top: 12rem;
    } */
}